<!DOCTYPE html>
<html>
  <head>
    <title>Maps1</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://unpkg.com/@googlemaps/markerclusterer/dist/index.min.js"></script>
    
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

  </head>

  <body>
    <div class="head">
      <h3>Maps1</h3>
    </div>

    <%= yield %>

    <footer>
      <div class="footer">
        izmahel | 2023
      </div>
    </footer>
  </body>
</html>
